ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
}

.background{
    background-image: url('../images/background.jpeg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0.3;
}


.hide{
    display: none !important;
}

.initial{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form.initial{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.eye{
    font-size: 30px;
    position: absolute;
    top: 7px;
    right: 21px;
    cursor: pointer;
}

.alert{
    position: absolute;
    z-index: 10000;
    top: 10px;
    right: 10px;
    padding: 20px 30px;
    font-size: 17px;
}

.toastElement, .toast {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toastElement.show, .toast.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header{
    margin: 0 auto !important;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    color: var(--bs-cyan);
    padding: 20px 0;
}

.navbar-nav{
    color: var(--bs-gray-dark);
}

.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bs-white);
}

.offcanvas{
    color: var(--bs-white) !important;
}

.menu_box{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_home, .container_group, .container_profile{
    width: 100%;
    margin: 100px auto 0px auto;
    max-width: 1000px;
}

.search_groups{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.search_groups_search{
    width: 100%;
}

.search_groups_filter{
    justify-content: space-around;
}

.btn-tag {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--bs-indigo);
    color: var(--bs-white);
    font-weight: 600;
    text-wrap: nowrap;
}

.btn-tag:hover{
    background-color: var(--bs-purple);
}

.groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.btn-cards.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cards.two > .btn-two{
    width: 49%;
}

.btn.one{
    width: 100%;
}

.body_modal_new_group{
    height: 400px;
}

.new_group_form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.participants_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.participants_list > li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

.card > img{
    height: 190px;
}

.card-body.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_grupo{
    position:fixed;
    z-index: 10;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 37%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo_branco{
    width: 90%;
    max-width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.santa_name{
    height: 60px;
    height: fit-content;
    font-weight: 900;
    font-size: 14px;
}

.text-element {
    background: #000000;
    color: transparent;
    animation: changeColor 0.5s linear forwards;
  }

.list-group-item > h5{
    text-align: initial;
    font-size: 1.1rem !important;
}

.list-group-item > p{
    text-align: initial;
    font-size: 0.9rem !important;
}

.list_options{
    margin-top: 15px;
}

.no_gifts_text{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.change_password{
    width: 90%;
    max-width: 460px;
    margin-top: 15px;
}

.profile_info{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.modal-members-title{
    text-align: initial;
    border-bottom: 1px solid gray;
}

.members_list{
    text-align: initial;
}

.members_list > li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.members_list > li:hover{
    color: var(--bs-blue);
    font-weight: bold;
}

.no-margin{
    margin: 0;
}

.container_header_group, .container_gifts{
    width: 100%;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.option_card{
    height: fit-content;
    position: relative;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    text-align: initial;
}

.trash-icon{
    position: absolute;
    top: 5px;
    right: 5px;
}

.title_gift{
    width: 85%;
    margin: 0;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description_gift{
    margin: 5px 0 0 0;
    width: 90%;
    white-space: wrap;
    line-height: 28px;
    text-align: justify;
}

.trash-btn{
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift_options_list{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.participants_list{
    text-align: initial;
}

.no_gifts, .no_people{
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
}

  
@keyframes changeColor {
    0% {
        font-size: 0.5rem;
        color: transparent;
    }
    100% {
        font-size: 2.5rem;
        color: var(--bs-cyan);
    }
}
  
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-50%);
    }
}

@media(min-width: 768px){

    main{
        position: relative;
    }

    .participants_list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .participants_list > li{
        width: fit-content;
        padding: 0 5px 0 0;
        border-right: 1px solid black;
    }
    .search_groups{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
    
    .search_groups_search{
        width: 60%;
    }
    
    .search_groups_filter{
        width: 20%;
        justify-content: space-around;
    }

    .header_group{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_group > .action{
        width: 30% !important;
    }

    .group_info{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .info_group{
        width: 29%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .fundo_branco{
        scale: 1.3;
    }

    .option_card{
        text-overflow: ellipsis;
        padding: 10px;
        text-align: initial;
        flex-wrap: wrap;
        width: 30%;
    }

    .gift_options_list{
        width: 100%;
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container_gifts{
        position: relative;
    }

    .add_gift{
        position: absolute;
        top: 0;
        right: 10px;
    }

    .bottom_action{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    
}