{% extends "layout.html" %}

{% block title %}
    Group Name
{% endblock %}

{% block main %}
    <div class="container_group">
        <div class="container_header_group">
            <div class="header_group">
                <h1>Group: {{group['name']}}</h1>
                {% if draw['date'] %}
                <button type="button" class="btn btn-warning one action" data-bs-toggle="modal" data-bs-target="#secret_santa_modal" onclick="animateSantaName()">Reveal Secret Santa</button>
                {% elif owner and not draw['date'] %}
                    {% if release_santa%}
                        <form action="/draw" method="post" style="width: 100%;" class="action">
                            <input type="text" name="group_id" hidden value="{{ group['id'] }}">
                            <button type="submit" class="btn btn-info one">Draw Secret Santa!</button>
                        </form>
                    {% else %}
                        <button disabled class="btn btn-warning one action">Can't draw yet!</button>
                    {% endif %}
                {% else %}
                    <div class="btn btn-secondary one action">Wait for the draw!</div>         
                {% endif %}

            </div>
            <div class="group_info">
                <div class="info_group">
                    <h6>Created by</h6>
                    <p>{{group['creator']}}</p>
                </div>
                <div class="info_group">
                    <h6>Event Date</h6>
                    <p>{{group['event_date']}}</p>
                </div>
                <div class="info_group">
                    <h6>Draw Date (Forecast)</h6>
                    <p>{{group['draw_date']}}</p>
                </div>
            </div>
        </div>


        <div>
            <div class="container_gifts">
                <h5>Your gift options</h5>
                {% if gift_options[0] %}
                    <ul class="gift_options_list">
                        {% for gift in gift_options %}
                            <li id="option-{{gift['id']}}" class="option_card card">
                                <h6 class="title_gift">{{gift['gift']}}</h6>
                                <p class="description_gift">{{gift['description']}}</p>
                                <form action="/new_gift/{{gift['id']}}" method="post" class="trash-icon">
                                    <input hidden type="text" name="group_id" value="{{group['id']}}">
                                    <button type="submit" class="trash-btn btn btn-secondary"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You haven't added an option yet!</p>
                    <img src="../static/images/lupa.jpeg" alt="" class="no_gifts">
                {% endif %}
                <button type="button" class="btn btn-primary add_gift" data-bs-toggle="modal" data-bs-target="#new_gift_modal">Add an option</button>
            </div>
    
            <div style="padding: 20px 0;">
                <h5>Participants</h5>
                {% if participants[0] %}
                <ul class="participants_list">
                    {% for part in participants %}
                        <li>
                            <span>{{part['name']}} - {{part['email']}}</span>
                            {% if owner and not draw['date']%}
                                <form action="/leave_group/{{group['id']}}/{{part['id']}}" method="post">
                                    <button type="submit" class="btn btn-secondary"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No one yet !</p>
                    <img src="../static/images/no_people.jpeg" alt="" class="no_people">
                {% endif %}               
            </div>
        </div>


        <div class="bottom_action">
            {% if owner and not draw['date'] %}
                <form action="/delete_group/{{group['id']}}" method="post">
                    <button type="submit" class="btn btn-danger one"><strong>Delete group</strong></button>
                </form>
            {% endif %}

            {% if not draw['date'] and not owner %}
                <form action="/leave_group/{{group['id']}}/0" method="post">
                    <button type="submit" class="btn btn-danger one"><strong>Leave group</strong></button>
                </form>
            {% endif %}
        </div>
    </div>


    <div class="modal fade" id="new_gift_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-5" id="">What would you want to receive ?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="body_modal_new_group">
                <form action="/new_gift" method="post" class="new_group_form">
                        <div class="form-floating">
                            <input class="form-control" type="text" name="gift" placeholder="Your gift" required>
                            <label for="email">Gift</label>
                        </div>
    
                        <div class="mb-3">
                            <textarea class="form-control" id="description" rows="3" name="description" placeholder="Describe your option" required></textarea>
                        </div>

                        <input hidden type="text" name="group_id" value="{{group['id']}}">
    
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="secret_santa_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-5" id="">Your secret santa is...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="body_modal_secret_santa">
                <div class="santa_name " id="santa_name">🎉 {{draw['name']}} 🎉</div>

                {% if santa_gift_options %}
                <div class="list_options">
                    <h5>Here are some gift options</h5>
                    <div class="list-group">
                        {% for gift in santa_gift_options %}
                            <li class="list-group-item" aria-current="true">
                                <h5 class="mb-1">{{ gift['gift']}}</h5>
                                <p class="mb-1">{{ gift['description']}}</p>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <div class="no_gifts_text">No gift options yet :( </div>
                    <img src="../static/images/lupa.jpeg" alt="" class="no_gifts">
                {% endif %}

            </div>

        </div>
        </div>
    </div>
{% endblock %}