{% extends "layout.html" %}

{% block title %}
    Group Name
{% endblock %}

{% block main %}
    <div class="container_group">
        <h1>Group: {{group['name']}}</h1>

        <div>Created by: {{group['creator']}} on {{group['creation_date']}}</div>

        <div>
            <div>
                <h6>Event Date</h6>
                <p>{{group['event_date']}}</p>
            </div>
            <div>
                <h6>Draw Date (Forecast)</h6>
                <p>{{group['draw_date']}}</p>
            </div>
        </div>

        {% if draw['date'] %}
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#secret_santa_modal" onclick="animateSantaName()">Reveal Secret Santa</button>
        {% elif owner and not draw['date'] %}
        <form action="/draw" method="post">
            <input type="text" name="group_id" hidden value="{{ group['id'] }}">
            <button type="submit">SORTEAR O AMIGO SECRETO</button>
        </form>
        {% else %}
            <div>Aguarde o sorteio</div>         
        {% endif %}

        <div>
            <h5>Gift options</h5>
            {% if gift_options[0] %}
                <ul>
                    {% for gift in gift_options %}
                        <li id="option-{{gift['id']}}">
                            <h6>{{gift['gift']}}</h6>
                            <p>{{gift['description']}}</p>
                            <div onclick="deleteGiftOption({{gift['id']}})"><i class="bi bi-trash3-fill"></i></div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven't added an option yet!</p>
            {% endif %}
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#new_gift_modal">Add an option</button>
        </div>


        

    </div>


    <div class="modal fade" id="new_gift_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-5" id="">What would you want to receive ?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="body_modal_new_group">
                <form action="/new_gift" method="post" class="new_group_form">
                        <div class="form-floating">
                            <input class="form-control" type="text" name="gift" placeholder="Your gift" required>
                            <label for="email">Gift</label>
                        </div>
    
                        <div class="mb-3">
                            <textarea class="form-control" id="description" rows="3" name="description" placeholder="Describe your option" required></textarea>
                        </div>

                        <input hidden type="text" name="group_id" value="{{group['id']}}">
    
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="secret_santa_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-5" id="">Your secret santa is...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="body_modal_secret_santa">
                <div class="santa_name " id="santa_name">🎉 {{draw['name']}} 🎉</div>

                {% if santa_gift_options %}
                <div class="list_options">
                    <h5>Here are some gift options</h5>
                    <div class="list-group">
                        {% for gift in santa_gift_options %}
                            <li class="list-group-item" aria-current="true">
                                <h5 class="mb-1">{{ gift['gift']}}</h5>
                                <p class="mb-1">{{ gift['description']}}</p>
                            </li>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <div class="no_gifts">No gift options yet :( </div>
                {% endif %}

            </div>

        </div>
        </div>
    </div>
{% endblock %}