{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container_home">
        <div class="search_groups">
            <form class="d-flex search_groups_search" role="search" action="/home" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="d-flex search_groups_filter" style="width: 20%;">
                <form action="/home" method="post">
                    <input type="text" name="search" hidden value="groups_i_own">
                    <button type="submit" style="width: 100%;margin-left: 10px;" class="btn-tag" >I own</button>
                </form>
                <form action="/home" method="post">
                    <input type="text" name="search" hidden value="groups_iam_in">
                    <button type="submit" style="width: 100%;margin-left: 10px;" class="btn-tag" >I'm in</button>
                </form>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create New Group!
            </button>

        </div>


        <div class="groups">

            {% if groups %}
                {% for group in groups %}

                <div class="card" style="width: 18rem;">
                    {% if group['image_url'] %}
                        <img src="{{group['image_url']}}" class="card-img-top" alt="group_picture">
                    {% else %}
                        <img src="https://as1.ftcdn.net/v2/jpg/06/50/41/82/1000_F_650418284_gH1jJH1H9A0ErBxosY1f6ofyPrnCiFie.jpg" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{group['name'] }}</h5>
                      <p class="card-text">{{ group['description'] }}</p>

                      {% if group['owner'] or group['member']%}
                        <form action="/group/{{ group['id'] }}" method="get">
                            <button class="btn btn-warning">Enter</button>
                        </form>
                        {% else %}
                        <div class="btn-cards two">
                            <button class="btn btn-info" onclick="openModalGroup({{ group['id'] }})">View</button>
                            <form action="/join_group" method="post">
                                <input type="text" name="group_id" hidden value="{{ group['id'] }}">
                                <button type="submit" class="btn btn-success">Join</button>
                            </form>
                        </div>

                      {% endif %}

                    </div>
                </div>

                {% endfor %}

            {% else %}
                <div>No groups yet!</div>
            {% endif %}

        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create a New Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" class="body_modal_new_group">
                    <form action="/new_group" method="post" class="new_group_form">
                        <div class="form-floating">
                            <input class="form-control" type="text" name="name" placeholder="Type a name">
                            <label for="name">Name</label>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control" id="description" rows="3" name="description" placeholder="Describe your group"></textarea>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" type="text" name="image_url" placeholder="URL">
                            <label for="name">Image URL</label>
                        </div>

                        <div class="form-floating">
                            <input type="date" class="form-control" name="event_date">
                            <label for="birth">Event date</label>
                        </div>

                        <div class="form-floating">
                            <input type="date" class="form-control" name="draw_date">
                            <label for="birth">Draw date</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

        <div class="hide info_grupo" id="modal_group" onclick="modalOutClick(event)">
            <div class="fundo_branco" id="modal_content">
            </div>
        </div>

    </div>
{% endblock %}